button{
  color: var(--orange);
  background-color: transparent;
  border: 1px solid var(--orange);
  border-radius: var(--border-radius);
  padding: .75rem 1rem;
  font-size: var(--font-m);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}

button:hover {
  background-color: var(--transparent-orange);
}