.experience {
  max-width: 700px;
}

.experience .inner {
  display: flex;
  min-height: 340px;
}

.jobs-button-list {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.job-button {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border: none;
  border-radius: 0;
  border-left: 2px solid var(--slate-purple);
  background-color: transparent;
  color: var(--light-purple);
  font-family: var(--font-mono);
  font-size: var(--font-m);
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  transition: var(--transition);
}

.job-button.active {
  color: var(--yellow);
  background-color: var(--slate-purple);
}

.job-button:hover,
.job-button:active,
.job-button:focus {
  color: var(--yellow);
  background-color: var(--slate-purple);
}

.jobs-panel-list {
  position: relative;
  width: 100%;
  margin-left: 20px;
}

.jobs-highlighted {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 2px;
  height: var(--tab-height);
  border-radius: var(--border-rad);
  background: var(--yellow);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.jobs-highlighted.tab3 {
  transform: translateY(calc(0 * var(--tab-height)));
}

.jobs-highlighted.tab2 {
  transform: translateY(calc(1 * var(--tab-height)));
}

.jobs-highlighted.tab1 {
  transform: translateY(calc(2 * var(--tab-height)));
}

.jobs-highlighted.tab0 {
  transform: translateY(calc(3 * var(--tab-height)));
}

@media (max-width: 768px) {
  .experience .inner {
    display: block;
  }

  .jobs-button-list {
    display: flex;
    overflow-x: auto;
    width: calc(100% + 100px);
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 30px;
  }

  .jobs-button-list .job-button {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    min-width: 120px;
    padding: 0px 15px;
    border-left: 0px none;
    border-bottom: 2px solid var(--slate-purple);
    text-align: center;
  }

  .jobs-panel-list {
    margin-left: 0;
  }

  .jobs-highlighted {
    position: absolute;
    top: auto;
    bottom: 0px;
    margin-left: 50px;
    width: 100%;
    max-width: var(--tab-width);
    height: 2px;
  }

  .jobs-highlighted.tab3 {
    transform: translateX(calc(0 * var(--tab-width)));
  }

  .jobs-highlighted.tab2 {
    transform: translateX(calc(1 * var(--tab-width)));
  }

  .jobs-highlighted.tab1 {
    transform: translateX(calc(2 * var(--tab-width)));
  }

  .jobs-highlighted.tab0 {
    transform: translateX(calc(3 * var(--tab-width)));
  }
}
