.experience {
  max-width: 700px;
}

.experience .inner {
  display: flex;
  min-height: 340px;
}

.jobs-button-list {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.job-button {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border: none;
  border-radius: 0;
  border-left: 2px solid var(--slate-purple);
  background-color: transparent;
  color: var(--light-purple);
  font-family: var(--font-mono);
  font-size: var(--font-m);
  text-align: left;
  white-space: nowrap;
}

.job-button.active {
  color: var(--orange);
}

.job-button:hover, 
.job-button:active, 
.job-button:focus {
  color: var(--orange);
}

.jobs-panel-list {
  position: relative;
  width: 100%;
  margin-left: 20px;
}

.job-panel {
  width: 100%;
  height: auto;
  padding: 10px 5px;
  display: none;
}

.job-panel.active {
  display: block;
}

.job-panel h3 {
  margin-bottom: 2px;
  font-size: var(--font-xxl);
  font-weight: 500;
  line-height: 1.3;
}

.job-panel h3 .company {
  color: var(--orange);
}

.company-link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  color: var(--orange);
}

.company-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--orange);
  opacity: 0.5;
}

.job-panel .range {
  margin-bottom: 25px;
  color: var(--light-purple);
  font-family: var(--font-mono);
  font-size: var(--font-m);
}

.job-panel-content-list > li {
  font-family: var(--font-default);
}

@media (max-width: 768px) {
  .experience .inner {
    display: block;
  }

  .jobs-button-list {
    display: flex;
    overflow-x: auto;
    width: calc(100% + 100px);
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 30px;
  }

  .jobs-button-list .job-button {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    min-width: 120px;
    padding: 0px 15px;
    border-left: 0px none;
    border-bottom: 2px solid var(--lightest-purple);
    text-align: center;
  }

  .jobs-panel-list {
    margin-left: 0;
  }
}