.about-inner {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 50px;
}

.about-img-container {
  position: relative;
  max-width: 300px;
}

.about-img-wrapper {
  box-shadow: 0 10px 30px -15px black;
  display: block;
  position: relative;
  width: 100%;
  border-radius: var(--border-rad);
  background-color: var(--orange);
}

.about-img-container .about-img-wrapper::before,
.about-img-container .about-img-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-rad);
}

.about-img-container .about-img-wrapper::before {
  left: 0px;
  top: 0px;
  mix-blend-mode: screen;
  background-color: black;
  z-index: 1;
}

.about-img-container .about-img-wrapper::after {
  border: 2px solid var(--orange);
  top: 20px;
  left: 20px;
  z-index: -1;
  transition: var(--transition);
}

.about-img-container:hover .about-img-wrapper::after {
  top: 10px;
  left: 10px;
}

.about-img-wrapper > div {
  border-radius: var(--border-rad);
  vertical-align: middle;
  overflow: hidden;
}

.about-img-wrapper > div > div > img {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  display: block;
  position: static;
}

.about-text-container > div > p {
  margin: 0px 0px 15px;
}

.about-text-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

@media (max-width: 1080px) {
  .about {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .about-inner {
    display: block;
  }

  .about-img-container {
    margin: 50px auto;
    width: 70%;
  }
}
