.job-panel {
  width: 100%;
  height: auto;
  padding: 10px 5px;
  opacity: 0;
  z-index: 0;
  transition: var(--transition-panel);
  position: absolute;
}

.job-panel.active {
  opacity: 1;
  z-index: 10;
}

.job-panel h3 {
  margin-bottom: 2px;
  font-size: var(--font-xxl);
  font-weight: 500;
  line-height: 1.3;
}

.job-panel h3 .company {
  color: var(--yellow);
}

.company-link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  color: var(--yellow);
  transition: var(--transition);
}

.company-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.15em;
  background-color: var(--yellow);
  transition: var(--transition);
  opacity: 0.5;
}

.company-link:hover::after,
.company-link:focus::after,
.company-link:active::after {
  width: 100%;
}

.job-panel .range {
  margin-bottom: 25px;
  color: var(--light-purple);
  font-family: var(--font-mono);
  font-size: var(--font-m);
}

.job-panel-content-list > li {
  font-family: var(--font-default);
}
