header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  padding: 0 50px;
  height: var(--nav-height);
  transform: translateY(0px);
  background-color: rgba(20, 4, 31, 0.85);
  box-shadow: 0 10px 30px -10px rgba(23, 7, 34, 0.7);
  backdrop-filter: blur(8px);
  text-transform: capitalize;
}

nav {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  counter-reset: item 0;
  z-index: 12;
}

nav .logo a svg {
  fill: var(--yellow);
  width: 84px;
  height: 84px;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-nav-small {
  display: none;
}

.menu-nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-nav > ul > li {
  margin: 0 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--font-m);
  font-family: var(--font-mono);
}

.menu-nav > ul > li > a {
  padding: 10px;
}

.header-button {
  color: var(--yellow);
  background-color: transparent;
  border: 1px solid var(--yellow);
  border-radius: var(--border-rad);
  padding: 0.75rem 1rem;
  font-size: var(--font-m);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-left: 15px;
}

.header-button:hover {
  background-color: var(--transparent-yellow);
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8;
  backdrop-filter: blur(0);
  display: block;
  transition: var(--transition);
  pointer-events: none;
}

.blur.active {
  pointer-events: auto;
  backdrop-filter: blur(10px);
}

@media (max-width: 768px) {
  header {
    padding: 0px 25px;
  }

  .menu-nav {
    display: none;
  }

  .menu-nav-small {
    display: block;
  }

  .menu-hamburger {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px none;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    cursor: pointer;
  }

  .menu-hamburger .hamburger-box {
    display: inline-block;
    position: relative;
    width: var(--hamburger-width);
    height: 24px;
  }

  /* Hamburger icon (inactive) */
  .hamburger-box .hamburger-box-inner {
    position: absolute;
    top: 50%;
    right: 0px;
    width: var(--hamburger-width);
    height: 2px;
    border-radius: var(--border-rad);
    background-color: var(--yellow);
    transition: var(--transition);
    transform: rotate(0deg);
  }

  .hamburger-box .hamburger-box-inner::before,
  .hamburger-box .hamburger-box-inner::after {
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0px;
    width: var(--hamburger-width);
    height: 2px;
    border-radius: 4px;
    background-color: var(--yellow);
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
  }

  .hamburger-box .hamburger-box-inner::before {
    width: 120%;
    top: -10px;
    opacity: 1;
    transition: var(--hamburger-before);
  }

  .hamburger-box .hamburger-box-inner::after {
    width: 80%;
    bottom: -10px;
    transform: rotate(0deg);
    transition: var(--hamburger-after);
  }

  /* Hamburger icon (active)*/
  .hamburger-box .hamburger-box-inner.active {
    transform: rotate(45deg);
  }

  .hamburger-box .hamburger-box-inner.active::before {
    width: 100%;
    top: 0;
    opacity: 0;
    transition: var(--hamburger-before);
  }

  .hamburger-box .hamburger-box-inner.active::after {
    width: 100%;
    bottom: 0;
    transform: rotate(-90deg);
    transition: var(--hamburger-after);
  }

  .menu-nav-side {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0px;
    background-color: var(--slate-purple);
    box-shadow: -10px 0px 30px -15px black;
    z-index: 9;
    transform: translateX(100vw);
    visibility: visible;
    transition: var(--transition);
  }

  .menu-nav-side.active {
    transform: translateX(0vw);
  }

  .menu-nav-side nav {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: var(--lightest-purple);
    font-family: var(--font-mono);
    text-align: center;
  }

  .menu-nav-side ul a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    width: 100%;
    padding: 3px 20px 20px;
  }

  .menu-nav-side .header-button {
    color: var(--yellow);
    background-color: transparent;
    border: 1px solid var(--yellow);
    border-radius: var(--border-rad);
    font-size: var(--font-s);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    padding: 18px 50px;
    margin: 10% auto 0px;
    width: max-content;
  }
}
