@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  font-family: "Ubuntu", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --orange: #ffaa60;
  --dark-purple: #14041f;
  --slate-purple: #392d42;
  --light-purple: #a38fb1;
  --lightest-purple: #edd3ff;

  --font-xxs: 12px;
  --font-xs: 13px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 20px;
  --font-xxl: 22px;
  --font-heading: 32px;
  --font-mono: "Ubuntu Mono", monospace;

  --border-radius: 4px;
  --nav-height: 100px;
}

/* Resets CSS */
html {
  box-sizing: border-box;
  font-size: var(--font-m);
}

body {
  color: var(--light-purple);
  line-height: 1.3;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--dark-purple);
  color: var(--light-purple);
  line-height: 1.3;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: var(--slate-purple);
  color: var(--lightest-purple);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--lightest-purple);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--orange);
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

.heading {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  font-size: clamp(26px,5vw,var(--font-heading));
}

.heading::after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--slate-purple);
}
