:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --purple: #803f98;
  --yellow: #f6b527;
  --orange: #ffaa60;
  --dark-purple: #2a0944;
  --beige: #fec260;
  --light-beige: #ffdca3;

  --font-xxs: 12px;
  --font-xs: 13px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 20px;
  --font-xxl: 22px;
  --font-heading: 32px;

  --border-radius: 4px;
  --nav-height: 100px;
}

/* Resets CSS */
html {
  box-sizing: border-box;
  font-size: var(--font-m);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--light-beige);
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--orange);
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}